@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
.bor{
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}

